.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  column-gap: 120px;
  display: flex;
  justify-content: flex-start;
}

.about__title {
  margin: 0;
  font-size: 20px;
  max-width: 154px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  border: yellow 1px solid;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  /* border: yellow 1px solid; */
  /* padding-left: 100px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}

.about__paragraph {
  margin: 0;
  /* border: orange 1px solid; */
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: absolute;
  top: -121px;
  left: -91px;
  z-index: 0;
}
