.about {
  background-color: #0a2850;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  /* border: yellow 1px solid;*/
}

.about__content {
  font-family: "Inter", "Arial", "sans-serif";
  flex-flow: column wrap;
  max-width: 660px;
  /* border: yellow 1px solid;*/
  display: flex;
  margin-left: auto;
}

.about__title {
  margin: 0;
  font-size: 20px;
  max-width: 154px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  /* border: yellow 1px solid;*/
}

.about__paragraph {
  margin: 0;
  /* border: orange 1px solid; */
}

.about__circle {
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin: 0;
  padding-bottom: 0;
}

.about__paragraph:last-child {
  padding-bottom: 0%;
}

.about__circle_animation_blurred {
  animation: blurred 1s ease-in-out infinite;
}
