.footer {
  box-sizing: border-box;
  color: #ffffff;
  padding: 60px 103px 60px 80px;
  /*border: orange 1px solid;*/
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850, #071931 100%);
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  /* border: orange 1px solid;*/
  align-items: flex-start;
}

.footer__list {
  /* border: orange 1px solid;*/
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.footer__list-item {
  /* border: orange 1px solid;*/
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 20px;
}

.footer__list-item:last-child {
  padding: 0;
}

.footer__social {
  /* border: orange 1px solid;*/
  margin-left: 100px;
}

.footer__column_content_hours {
  margin-left: auto;
  /*/* border: orange 1px solid;*/
}

.footer__column_content_social {
  margin-left: 100px;
  /*/* border: orange 1px solid;*/
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  margin-left: auto;
  padding: 0;
  margin: 0;
  /*/* border: orange 1px solid;*/
}

.footer__list-item {
  /*/* border: orange 1px solid;*/
  padding-bottom: 16px;
}

.footer__column-heading {
  /*/* border: orange 1px solid;*/
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.footer__column-link {
  /*/* border: orange 1px solid;*/
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding-left: 16px;
}

.footer__social-heading {
  /* border: orange 1px solid;*/
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 20px;
}

.footer__social-icon {
  /* border: orange 1px solid;*/
  padding-right: 10px;
}

footer__social-link {
  color: #ffffff;
  text-decoration: none;
  transition: 1s;
  display: flex;
  /* border: orange 1px solid;*/
}
.footer__social-link:hover {
  color: #c1c1c1;
  animation-duration: 0.3s;
  /* border: orange 1px solid;*/
}

.footer__copyright {
  /* border: orange 1px solid;*/
  font-size: 16px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding-top: 108px;
  padding-bottom: 60px;
}
