/* footer items */

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 100px 60px 80px;
  color: #fff;
  box-sizing: border-box;
  /*border: orange 1px solid;*/
}

.footer__content {
  display: flex;
  justify-content: space-between;
  /* border: orange 1px solid;*/
  align-items: flex-start;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social {
  /* border: orange 1px solid;*/
  margin-left: 100px;
}

.footer__social-heading {
  /* border: orange 1px solid;*/
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 20px;
}

/*list items */
.footer__list {
  /* border: orange 1px solid;*/
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.footer__list-item {
  /* border: orange 1px solid;*/
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 16px;
}

.footer__list-item:last-child {
  padding: 0;
}

footer__social-link {
  color: #ffffff;
  text-decoration: none;
  transition: 1s;
  display: flex;
  /* border: orange 1px solid;*/
}
/* foooter social items */

.footer__social-icon {
  /* border: orange 1px solid;*/
  padding-right: 10px;
}

.footer__social-link:hover {
  color: #c1c1c1;
  animation-duration: 0.3s;
  /* border: orange 1px solid;*/
}

.footer__copyright {
  /* border: orange 1px solid;*/
  font-size: 16px;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  margin: 0;
  line-height: 20px;
  padding-top: 108px;
  padding-bottom: 60px;
}
