.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
  align-items: center;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.form__label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.form__label:last-child {
  padding-bottom: 0;
}

.form__input {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin-bottom: 32px;
  height: 60px;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 10px;
}

.form__input:last-child {
  margin-bottom: 0px;
}

.form__button {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  width: 100%;
  height: 60px;
  margin: 32px 0 32px 0;
  border-radius: 4px;
  transition: 0.5s;
  color: white;
  background-color: #2f80ed;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 12px;
}
