.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  z-index: 1;
  padding-right: 80px;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.header__title {
  max-width: 729px;
  color: #000000;
  margin: 202px 0 28px 80px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  position: relative;
  z-index: 2;

}

.header__span-accent {
  display: block;
  font-family: 'Noto serif', Times New Roman, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  position: relative;
  padding-left: 80px;
  z-index: 1;
  font-family: 'Noto serif', Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content:space-between;
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  left: 0px;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__paragraph {
  color: #6f6f66;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  align-self: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.header__link:hover {
  color: #1f69c9;
}
