.menu {
  background: #0a2750 url("../images/background_menu.svg") no-repeat center /
    cover;
  padding-bottom: 100px;
}

.menu__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 780px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 100px;
  margin: 0 auto;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  color: rgb(254, 254, 254);
  margin: auto;
  text-align: center;
  padding-bottom: 100px;
}

.menu__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 100px;
  column-gap: 100px;
  margin: 0 auto 0;
}
