.recipes {
  background: #ffffff url(../images/background_recipes.svg) no-repeat / cover;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  display: flex;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 100px 0 24px 80px;
}

.recipes__subtitle {
  max-width: 438px;
  padding: 0px 0px 90px 90px;
  font-size-adjust: Noto Serif, Times New Roman, serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
.recipes__videos {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 40px;
  padding-bottom: 217px;
  padding-left: 0;
  margin: 0;
}

.recipes__video-caption {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  padding: 24;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}
