.reservation {
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat
    center / cover;
}

.reservation__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  padding: 100px 0px 80px 0;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
}
