.reservations {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #f2f2f2;
}

.reservations__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.reservations__steps {
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0;
  /* Add styles */
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
