.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  height: 124px;
  width: 142px;
}

.header__title {
  display: flex;
  top: 202px;
  left: 80px;
  color: #000000;
  max-width: 729px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  margin: 202px 0 90;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500l;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  display: flex;
  position: relative;
  max-width: 638px;
  left: 80px;
  font-size: 20px;
  line-height: 30px;
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  display: flex;
  position: absolute;
  top: 124px;
  right: 5px;
  width: 636px;
  height: 568px;
}

.header__footer {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #1f69c9;
}

.header__title_span-accent {
  font-family: Noto Serif, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__paragraph {
  color: rgb(64, 64, 64);
  font-family: "Inter";
  font-style: normal;
  align-self: flex-end;
  font-weight: 500;
  font-size: 18px;
  line-height: 20 px;
  margin: 0;
  position: relative;
  right: 80;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  z-index: 1;
  padding-right: px;
  background-color: #ffffff;
  background-image: url("./images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.nav {
  display: flex;
  align-items: flex-end;
  padding-right: 80px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  gap: 20 px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
  transition-delay: 1s;
}

.menu {
  background: #0a2750 url("./images/background_menu.svg") no-repeat / cover;
}

.menu__title {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 780px;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 100px;
  margin: 0 auto;
}

.menu__subtitle {
  font-family: Noto Serif;
  font-style: normal;
  text-align: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  color: rgb(254, 254, 254);
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
}

.menu_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 100px;
  row-gap: 100px;
}

.card {
  width: 680px;
  margin: 0 auto;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: rgb(254, 254, 254);
  padding-bottom: 32px;
}

.card__list {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 0;
  list-style: none;
  color: rgb(254, 254, 254);
  max-width: 600px;
}

.card__list-item {
  display: flex;
  color: rgb(254, 254, 254);
  padding-bottom: 16px;
  margin: 0;
}

.card__list-divider {
  flex-grow: calc(1);
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 0 5px;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
}

.recipes {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
}

.recipes__content {
  flex-basis: 580px;
}

.recipes__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.recipes__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0;
}

.recipes__info-section {
  margin-top: 32px;
}

.recipes__description {
  margin: 40px 0 60px;
}

.recipes__more {
  margin-top: 60px;
  color: #2f80ed;
  text-decoration: none;
}
.recipes__more:hover {
  color: #1f69c9;
}

.recipes__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
  /*border: 1px solid red;*/
}

.recipes__image {
  max-width: 100%;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  height: 24px;
  width: 24px;
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.reservations {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #f2f2f2;
}

.reservations__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.reservations__steps {
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0;
  /* Add styles */
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.step {
  /* Add styles */
  flex-basis: 220px;
  /*gap: 40px;*/
  /* justify-content: center; */
}

.step__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.step__icon {
  margin-left: 20px;
}

.step__description {
  margin: 10px 0 0;
}

.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  column-gap: 120px;
  display: flex;
  justify-content: flex-start;
}

.about__title {
  margin: 0;
  font-size: 20px;
  max-width: 154px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  border: yellow 1px solid;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  /* border: yellow 1px solid; */
  /* padding-left: 100px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}

.about__paragraph {
  margin: 0;
  /* border: orange 1px solid; */
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: absolute;
  top: -121px;
  left: -91px;
  z-index: 0;
}

.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 60px 103px 60px 80px;
  /* border: orange 1px solid; */
}

.footer__columns {
  display: flex;
  min-height: 214px;
  /* border: orange 1px solid; */
}

.footer__column_content_hours {
  margin-left: auto;
  /* border: orange 1px solid; */
}

.footer__column_content_social {
  margin-left: 100px;
  /* border: orange 1px solid; */
}

.footer__logo {
  width: 116px;
  height: 21px;
  /* border: orange 1px solid; */
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  margin-left: auto;
  padding: 0;
  margin: 0;
  /* border: orange 1px solid; */
}

.footer__list-item {
  /* border: orange 1px solid; */
  padding-bottom: 16px;
}

.footer__column-heading {
  /* border: orange 1px solid; */
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.footer__column-link {
  /* border: orange 1px solid; */
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding-left: 16px;
}

.footer__social-icon {
  /* border: orange 1px solid; */
  height: 16px;
  width: 16px;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  /* border: orange 1px solid; */
  font-size: 16px;
  margin: 0;
  padding-top: 0;
}
